.social__link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;

    &:hover,
    &:focus {
        background-color: var(--color-logo-blue);
        color: var(--txt-light-cl);
    }
}

.social__icon {
    fill: currentColor;
}