:root {
    /* fonts */
    --main-font: Roboto;
    --second-font: Raleway;

    /* background-color */
    --main-bgc: #FFFFFF;
    --second-bgc: #F5F4FA;
    --hero-bgc: #2F303A;
    --footer-bgc: #2F303A;

    /* text */
    --title-text-color: #212121;
    --text-color: #757575;
    --txt-light-cl: #FFFFFF;

    /* logo */
    --color-logo-blue: #2196F3;
    --color-logo-black: #000000;
    --color-logo-white: #FFFFFF;

    /* btn */
    --button-color: #2196F3;
    --button-hover: #188CE8;

    /* solid */
    --header-solid: #ececec;

    /* socials icon */
    --socials-icon: #AFB1B8;

    /* transition */
    --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}